
/* =========================== INTER ==============================================*/

 /*src: url("https://fonts.googleapis.com/css?family=Inter&display=swap"); */
  @font-face 
  {
    src: url("/docs/assets/fonts/inter/Inter-VariableFont.ttf");
    font-family: 'Inter' ,'sans-serif';
    font-style: normal;
  }

  @font-face 
  {
    src: url("/docs/assets/fonts/inter/Inter-Italic-VariableFont.ttf");
    font-family: 'Inter' ,'sans-serif';
    font-style: italic;
  }


/* =========================== GABARITO ==============================================*/



@font-face {

  src: url("/docs/assets/fonts/gabarito/Gabarito-VariableFont_wght.ttf");
  font-family: 'Gabarito', 'sans-serif';
  font-style: normal;

}



/* =========================== POPPINS ==============================================*/

/*src: url("https://fonts.googleapis.com/css?family=Poppins");*/
  

  /*------------------ Thin -------------------*/
  @font-face {

    src: url("/docs/assets/fonts/poppins/Poppins-Thin.ttf");
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
  }

  @font-face {

    src: url("/docs/assets/fonts/poppins/Poppins-ThinItalic.ttf");
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
  }


  /*------------------ Extra Light-------------------*/
  @font-face {

    src: url("/docs/assets/fonts/poppins/Poppins-ExtraLight.ttf");
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
  }

  @font-face {

    src: url("/docs/assets/fonts/poppins/Poppins-ExtraLightItalic.ttf");
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
  }
  

  /*------------------ Light-------------------*/
  @font-face {

    src: url("/docs/assets/fonts/poppins/Poppins-Light.ttf");
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
  }

  @font-face {

    src: url("/docs/assets/fonts/poppins/Poppins-LightItalic.ttf");
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
  }

  /*------------------ Regular -------------------*/
  @font-face {

    src: url("/docs/assets/fonts/poppins/Poppins-Regular.ttf");
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
  }



    /*------------------ Medium -------------------*/
    @font-face {

      src: url("/docs/assets/fonts/poppins/Poppins-Medium.ttf");
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
    }
  
    @font-face {
  
      src: url("/docs/assets/fonts/poppins/Poppins-MediumItalic.ttf");
      font-family: 'Poppins';
      font-style: italic;
      font-weight: 500;
    }

    /*------------------ Semi Bold -------------------*/
    @font-face {

      src: url("/docs/assets/fonts/poppins/Poppins-SemiBold.ttf");
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
    }
  
    @font-face {
  
      src: url("/docs/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf");
      font-family: 'Poppins';
      font-style: italic;
      font-weight: 600;
    }

     /*------------------ Bold -------------------*/
     @font-face {

      src: url("/docs/assets/fonts/poppins/Poppins-Bold.ttf");
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
    }
  
    @font-face {
  
      src: url("/docs/assets/fonts/poppins/Poppins-Bold.ttf");
      font-family: 'Poppins';
      font-style: italic;
      font-weight: 700;
    }


    /*------------------ Extra Bold -------------------*/
    @font-face {

      src: url("/docs/assets/fonts/poppins/Poppins-ExtraBold.ttf");
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
    }
  
    @font-face {
  
      src: url("/docs/assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf");
      font-family: 'Poppins';
      font-style: italic;
      font-weight: 800;
    }

      /*------------------ Black -------------------*/
      @font-face {

        src: url("/docs/assets/fonts/poppins/Poppins-Black.ttf");
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
      }
    
      @font-face {
    
        src: url("/docs/assets/fonts/poppins/Poppins-BlackItalic.ttf");
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 900;
      }



