@import "./theme.css";



.heading
{
    position: relative;
    letter-spacing: -0.05em;
    line-height: normal;
    font-family: 'Gabarito', Helvetica, sans-serif;
    text-align: center;
   
    
}

.heading.greeting
{
   
    font-size: clamp(0.08rem, 2.6vw,20rem);
 
    font-weight: 600;
    font-family: 'Poppins', Helvetica, sans-serif;
    display: inline-block;
}

.heading.name
{
   
    font-size: clamp(0.1rem, 7vw,20rem);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: inline-block;
    
    
}


.heading.tagline
{
    font-size: clamp(0.1rem, 6vw,20rem);
    font-weight: 600;
    line-height: 0.7;
    display: inline-block;
    
}



.page-intro
{
    position: relative;
    width: 100%;
   
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
    box-sizing: content-box;
    gap: clamp(0.01rem, 0.5%, 15rem);
    text-align: center;
    
}





.headergroup
{
   
    text-wrap: pretty;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


.spacer 
{
    width: 100%;
    height: 100%;
    padding: clamp(0.02rem, 3%, 30rem);
    overflow: hidden;
    flex-shrink: 0;
}

.bodytext
{
    font-size: clamp(0.02rem, 2.3vw,20rem);
    font-weight: 600;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    text-wrap: pretty;
    text-align: left;
    width: 97%;
}

