@import "./fonts.css";

:root,


:root.dark {
    --background-color: #081e21;
    --background-dark-color: #b9b6ab;
    --color-textPrimary: #CA3C25;
    --color-textSecondary: #D6AF9B;
    --accent-color: #FDFCDC;
    --color-extraOne: #81ADC8;
    --color-extraTwo: #0081A7;

    --link-unvisited-color: #4750D0;
    --grey-color: #303f50;
    --grey-text: #cfd8e2;
    --shadow-color: #00000033;
    --cursor-color:  #1B5563;

    --tab-inactive : #175263;
    --tab-hovered : #247a91;

    /* --background-color: #081E21;
    --background-dark-color: #b9b6ab;
    --color-textPrimary: #FF156B;
    --color-textSecondary: #D6AF9B;
    --accent-color: #ebebed;
    --link-unvisited-color: #4750D0;
    --grey-color: #303f50;
    --grey-text: #cfd8e2;
    --shadow-color: #00000033;
    --cursor-color:  #1B5563; */
  }
  

  




:root.light {
  --background-color: #FFFDF6;
  --background-dark-color: #b9b6ab;
  --color-textPrimary: #FF156B;
  --color-textSecondary: #1B5563;
  --accent-color: #4750D0;
  --link-unvisited-color: #4750D0;
  --grey-color: #303f50;
  --grey-text: #cfd8e2;
  --shadow-color: #00000033;
  --cursor-color:  #1B5563;

  --color-black:#02061b;
  --color-birch: #ded7cf;

  --mask-circle: #C02B1B;

}


.color-accent
{
    color: var(--accent-color);
}

.color-text-primary
{
    color: var(--color-textPrimary);
}

.color-text-secondary
{
    color: var(--color-textSecondary);
}

.color-extra-one
{
    color: var(--color-extraOne);
}


.color-extra-two
{
    color: var(--color-extraTwo);
}
.color-maskOne
{
    color: var(--color-black);
}

.color-maskTwo
{
    color: var(--color-black);
}

